html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*
*:before
*:after{
    box-sizing: inherit;

}

body{
    margin: 0px;
}



#categories #header_categories.fixde-header{
    background-color: rgb(224, 85, 85);
}

#header_categories.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: height .3s;
    background-color: brown;
}


#style-logo a {
    text-decoration: none;
    color: inherit;
}


#style-logo img{
    width: 140px;
}

ul li{
    list-style: none;
} 

ul li a {
    text-decoration: none;
    font-size: 18px;
}

.wrapper{
    width: 90%;
    margin: auto;
    overflow: hidden;
    height: 100%;
}

#style-logo{
    float: left;
    height: 100%;
    display: flex;
    align-items: center;    
}


.nav-links{
    height: 100%;
    display: flex;
    align-items: center;
    float: right;
}

.d-flex{
    display: flex;
}

.header-links{
    margin: 0px 0px;
}








