

.namemarca{

color: rgb(255, 255, 255);
border: 2px,  solid green;
display: inline-block; /* Esto hace que el contenedor se ajuste al tamaño de su contenido */
padding: 1%;


}


.titulo1 {

  background-color: rgb(0, 66, 165);

  float: left;
  border: 1px solid black; /* Añadir borde a cada título */
  padding: 10px; /* Añadir espacio dentro del borde */
  margin-right: 20px; /* Espacio entre los dos títulos */
}

.titulo2 {
  background-color: rgb(0, 66, 165);
  float: left;
  border: 1px solid black; /* Añadir borde a cada título */
  padding: 10px; /* Añadir espacio dentro del borde */
  margin-right: 20px; /* Espacio entre los dos títulos */
  font-size: smaller; /* Hace que el texto del segundo título sea más pequeño */
  margin-top: 90px; /* Mover el título hacia abajo */
}






  h3{
    background-color: rgb(0, 66, 165);
    text-align: center;
    color: rgb(255, 255, 255);
 border-color: rgb(0, 0, 0);
 border-style: solid;
  border-width: 0cm;

  }

  .contenedor {
    display: inline-block; /* Esto hace que el contenedor se ajuste al tamaño de su contenido */
    padding: 10px; /* Espacio entre el borde y la imagen */
    border: 2px solid black; /* Borde de aproximadamente 1 cm */
}

.contenedor img {
    display: block; /* Esto asegura que la imagen se ajuste correctamente dentro del contenedor */
    max-width: calc(100% - 20px); /* Ajusta el ancho máximo de la imagen para que coincida con el contenedor */
    height: auto; /* Para mantener la proporción de la imagen */
}


*{

margin: 0;
padding: 0;
box-sizing: border-box;
font-family:sans-serif



}


body{

display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
background: #141313;



}

ul{

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

ul li{

list-style: none;

position: relative;


}

ul li a {

  position: relative;
  text-decoration: none;
  font-size: 3em;
  line-height: 2em;
  letter-spacing: 2px;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255,255,255,0.5);
}

ul li a::before{

content: attr(data-text);
position: absolute;
color: var(---clr);
width: 0px;
overflow: hidden;
transition: 1s;
border-right: 8px solid var (--clr);
-webkit-text-stroke: 1px var(--clr);

}


ul li a:hover::before{


  width: 100%;
  filter: drop-shadow(7px -12px 50px var(--clr));
}