.vacio{

   color: #6b0103;
   
   
   }
   
   body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     background-color: #19376D;
     color: #ffffff;
   }
   
   .container.section  {

    background-color: #576CBC;
     padding: 10px ;
  
  }

   .container {
    
     width: 80%;
     margin: 0 auto;
   }
   
   .header {
     background-color: #0B2447;
     padding: 20px 0;
   }
   
   .header h1 {
     font-size: 36px;
     color: #576CBC;
     margin-bottom: 10px;
   }
   
   .header p {
     font-size: 18px;
     margin-bottom: 30px;
   }
   
   .navbar ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     text-align: center;
   }
   
   .navbar ul li {
     display: inline-block;
     margin-right: 20px;
   }
   
   .navbar ul li a {
     text-decoration: none;
     color: #ffffff;
     font-size: 20px;
     transition: color 0.3s;
   }
   
   .navbar ul li a:hover {
     color: #576CBC;
   }
   
   .hero {
   
     background-size: cover;
     background-position: center;
     color: #ffffff;
     text-align: center;
     padding: 100px 0;
   }




   .hero h2 {
     font-size: 48px;
     margin-bottom: 20px;
   }
   
   .hero p {
     font-size: 24px;
     margin-bottom: 40px;
   }
   
   .btn {
     background-color: #576CBC;
     color: #ffffff;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     font-size: 20px;
     text-decoration: none;
     transition: background-color 0.3s;
   }
   
   .btn:hover {
     background-color: #576CBC;
   }
   
   .section {
     margin-top: 15px; 
     background-color: #576CBC;
     border-radius: 35px;
     padding: 30px;
   }
   
   .section h2 {
     margin-top: 0;
   }
   
   .section h2 {
     font-size: 36px;
     margin-bottom: 20px;
     color: #ffffff;
   }
   
   .section p {
     font-size: 18px;
     line-height: 1.6;
     margin-bottom: 30px;
   }
   
   .footer {
     background-color: #101010;
     padding: 20px 0;
     text-align: center;
     position: fixed;
     bottom: 0;
     width: 100%;
   }
   
   
   .video-container {
     position: relative;
     width: 100%;
     height: 50vh; 
     overflow: hidden;
   }
   
   .video-container iframe {
     position: absolute;
     top: 60%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 50%; 
     height: 100%;
   }
   
   
   .music-container{
   
     position: relative;
     width: 100%;
     height: 50vh; 
     overflow: hidden;
   
   
   }
   
   .music-container iframe {
     position: absolute;
     top: 60%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 40%; 
     height: 90%;
   }


/*Apartado TEAM*/

.container h1{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container p{
  text-align: center;
  font-family: sans-serif;
  font-size: 30;
}

.team-section {
  justify-content: center;
  width: 250px; 
  height: 200px;
  background-color: #576CBC;
  border-radius: 35px;
  display: flex;
  
  text-align: center;
  margin: 70px 0;
}

/*Apartado Novedades*/









.imagen{
text-align: center;
}




.container.section h2{

  font-size: 48px;
}

.container.section p{

  font-size: 24px;
 
}



.contenido{
  font-family: Arial, sans-serif;
  width: 2000px;
  max-width: 90%;
  margin: 35px auto;
  color: #ffffff;
  margin: 35px auto;
}
ul.space{
  width: 100%;
  list-style: none;
  display: flex;
 background: #DA1212; 
 padding: 10px;
 
}

ul.space li{

  width: 20%;
}

ul.space li a{

color: #ffffff;
text-decoration: none;
display: block;
text-align: center;
padding: 20px  0px;
}

ul.space li a.tabgo{

  margin-left: 15px;
}

.secciones article{

padding: 40px;
}

